/*.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
*/

 html,body{

	background-image: url(back.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	position: relative;

h1{
	style="color:black;
}

.navbar{
	background-color: #23415c;
	padding: 1% 0;
	font-size:1.2em; 
}

.navbar-brand{
	min-height: 55p;
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a
{
	color: #D5D5D5;
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a.active{
	color: #FFF;
}
#home{
	background:url(back.jpg) no-repeat center center fixed;
	display: table;
	height:100%;
	width:100%;
	position: relative;
	background-size: cover
}
.landing-text {
display: table-cell;
text-align: center;
vertical-align: middle;
}
.landing-text h1{
	font-size: 500%
	font-width:700;
}
.padding{
	padding: 80px 0;
}
.padding img{
	width: 100%;

}
#fixed{
	background:url(images/bak1.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer{
	width: 100%;
	background-color: #23415c;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}

.fa{
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa:hover{
	color: #D5D5D5;
	text-decoration: none;
}
.icon{
	max-width: 200px;
}
@(max-width: 768px){
	.landing-text h1{
		font-size: 300px;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		max-width: 100px;
	}
}


